<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Suit.Properties.Settings.PDFConnectionString" connectionString="Data Source=10.21.1.23;Initial Catalog=Analytics;Persist Security Info=True;User ID=pab;Password=Qz69fdk1Qz69fdk2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>