<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Sarcheli.Properties.Settings.LegalCounselConnectionString"
      connectionString="Data Source=62.171.168.156;Initial Catalog=Analytics_New;Persist Security Info=True;User ID=pabuser;Password=u6JVj6lAU9nLJh1FaDpr"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>