<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CreatePdf.Properties.Settings.locationConnectionString" connectionString="Data Source=172.28.29.14;Initial Catalog=location;Persist Security Info=True;User ID=satvirtodeveloper;Password=123" providerName="System.Data.SqlClient" />
        <add name="CreatePdf.Properties.Settings.PDFConnectionString" connectionString="Data Source=188.93.95.217,1431;Initial Catalog=PDF;User ID=sa;Password=0key!@#" providerName="System.Data.SqlClient" />
        <add name="CreatePdf.Properties.Settings.PABConnectionString" connectionString="Data Source=10.21.0.204;Initial Catalog=PAB;Persist Security Info=True;User ID=pab;Password=Qz69fdk1Qz69fdk2" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>